@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  #popup-app {
    @apply min-h-full
  }

  html {
    width: 40rem;
    height: 30rem;
    overflow: auto;
    @apply bg-default text-black-default
  }

  html.dark {
    @apply bg-default-dark text-default
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    forced-color-adjust: exact;

    -webkit-tap-highlight-color: transparent;

    --inner-margin: 1rem;
    --inner-width: 100vw;
    --header-height: 1rem;
    --nav-bar-width: 0px;
    --actions-bar-width: 0px;

    min-height: calc(100% + 1px);
    width: auto;
    overflow: auto;
    position: relative;

    @apply
      w-checkbox-size-3
      w-modal-wrapper-p-[--inner-margin]
      w-input-h-7 w-input-rounded-md w-input-gap-0.5
      w-list-header-h-9 w-list-header-rounded-xl w-list-padding-3
      w-button-h-7 w-button-rounded-lg
      w-modal-confirm-w-[32rem]
      text-sm
  }
}